In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, neighbors, svm
from sklearn.model_selection import train_test_split

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data

In [ ]:
df = pd.read_csv("/content/breast-cancer-wisconsin.data")

In [ ]:
df.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [ ]:
df.columns = ["id", "clump_thickness", "unif_cell_size", "unif_cell_shape", "marg_adhesion", "single_epith_cell_size", "bare_nuclei", "bland_chrom", "norm_nucleoli", "mitoses", "class"]
# Columns information is from the authors, check here:
# https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.names

# classes: 2 for benign, 4 for malignant (see the link above)

In [ ]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4

In [ ]:
df.replace("?", -99999, inplace=True) # ? are missing datas (see the link above) and will be interchanged with -99999. This number will be outlier and will be ignored

In [ ]:
df.drop(["id"], axis=1, inplace=True) #id's will not be trained

In [ ]:
# x for features(all except the classes), y for labels (classes are to be predicted)

x = np.array(df.drop(["class"], axis=1))
y = np.array(df["class"])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2) # 20% for testing

In [ ]:
clf = svm.SVC(kernel = "linear") # SVM model
clf.fit(X_train, y_train)

SVC(kernel='linear')

In [ ]:
accuracy = clf.score(X_test, y_test)
print(accuracy)

0.9714285714285714

In [ ]:
example_measures = np.array([[4, 2, 1, 1, 1, 2, 3, 2, 1], [4, 2, 1, 2, 2, 2, 3, 2, 1]])  # 2 samples to be predicted
example_measures = example_measures.reshape(len(example_measures), -1)

prediction = clf.predict(example_measures)
print(prediction)

[2 2]